{% load django_bootstrap5 %}
{% include 'header.html' %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>Reset password</h3>
              </div>
          </div>
      </div>
  </div>
</div>


<div style="display: flex; justify-content: center; align-items: center; height: 60vh; width: 100%;">
  <div style="width: 400px;"> 
      <form action="" method="post" style="width: 100%;">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-success btn-block">Reset password</button> <!-- Add 'btn-block' class to make the button full-width -->
      </form>
  </div>
</div>


{% include 'footer.html' %}
