
{% load static %}
{% include "header.html" %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>The password has been changed!</h3>
              </div>
          </div>
      </div>
  </div>
</div>
{% block content %}
  <h1 style="display: flex; justify-content: center ; align-items: center;color: green">The password has been changed!</h1>
  <p style="display: flex; justify-content: center ; align-items: center;"><a href="{% url 'login' %}">log in again?</a></p>
{% endblock %}

{% include "footer.html" %}