
{% load static %}
{% load django_bootstrap5 %}
{% include "header.html" %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>Change password</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div>
      <form action="" method="post" style="width: 500px;">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-success" style="width: 100%;">Change password</button>
          
      </form>
  </div>
</div>

{% include "footer.html" %}
